body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: beige;
    padding: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav > h3 {
    margin: 0;
}

#blog-list {
    padding: 10px;
}

form {
    padding: 60px 10px 10px;
    display: grid;
    background-color: lightblue;
}

input#post-title, textarea#post-body {
    margin-bottom: 10px;
}

input#post-title {
    text-indent: 5px;
    padding: 0.5em 0;
}

textarea#post-body {
    padding: 0.5em 0;
    text-indent: 5px;
    height: 100px;
}

button {
    border: 1px solid;
    border-radius: 6px;
    place-self: center;
    width: 140px;
    padding: 0.5em;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    transition: all ease-in 300ms;
    background-color: lightblue;
}
